body {
    background-color: bisque;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
marquee {
    height: 100vh;
}
.ball {
    max-width: 300px;
    animation-name: animation;
    animation-duration: 4sec;
    animation-timing-function: linear;
    animation-iteration-count: infinite; 
}
@keyframes animations {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}